name: Run SOUL Script (50 parallel)

on:
  workflow_dispatch:
    inputs:
      num1:
        description: "First value"
        required: true
        type: string
      num2:
        description: "Second value"
        required: true
        type: string
      num3:
        description: "Third value"
        required: true
        type: string

jobs:

  run_matrix:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        worker: [1,2,3,4,5,6,7,8,9,10,
                 11,12,13,14,15,16,17,18,19,20,
                 21,22,23,24,25,26,27,28,29,30,
                 31,32,33,34,35,36,37,38,39,40,
                 41,42,43,44,45,46,47,48,49,50]
      max-parallel: 50

    steps:
      - uses: actions/checkout@v4

      - name: Run soul
        run: |
          chmod +x ./soul
          echo "Worker ${{ matrix.worker }} running..."
          ./soul "${{ github.event.inputs.num1 }}" \
                 "${{ github.event.inputs.num2 }}" \
                 "${{ github.event.inputs.num3 }}"


  cleanup:
    needs: run_matrix
    runs-on: ubuntu-latest

    steps:
      - name: Install GitHub CLI
        run: |
          sudo apt-get update -y
          sudo apt-get install -y gh

      - name: Delete workflow logs
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh run delete ${{ github.run_id }} --yes
          echo "Cleanup done."
